/* font-family: 'Kaushan Script', cursive; */

/* font-family: 'Roboto', sans-serif; */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;
  min-height: 820px;
  position: relative;
  background: url(../img/banner.jpg) center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 71px auto 50px;

  background-color: #fff;
}

.intro__suptitle {
  margin-bottom: 42px;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
}

/* header */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Montserrat", sans-serif;
  padding-top: 28px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

/* nav */
.nav {
  padding-top: 40px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 58px;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 10px;
  transition: color 0.2s linear;
}

.nav__link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

/* button */
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  padding: 15px 33px;

  transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* slider */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  padding: 20px 0;
  border-top: 3px solid #fff;

  position: relative;

  opacity: 0.7;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.slider__item .active {
  opacity: 1;
}

.slider__item .active::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;

  background-color: #f38181;

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}

.slider__number {
  font-size: 24px;
  font-weight: 700;
}

/* Section */

.section {
  padding: 91px 0 110px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;

  text-align: center;
}

.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 40px auto 47px;
  background-color: #f38181;
}

.section__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}
